ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
}

#toggle-header {
    display: none;
    cursor: pointer;
}

#backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    background: rgb(0, 0, 0, .5);
}


@media screen and (max-width: 1100px) {
    #toggle-header {
        display: block;
        background: none;
        outline: none;
        border: none;

        & svg {
            fill: white;
            height: 30px;
            width: auto;
        }
    }

    .header-mobile {
        background: var(--primary);
        height: 100%;
        width: 40vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        overflow: hidden;
        transition: all ease .3s;

        ul {
            flex-direction: column;
            gap: 0;

            a {
                width: 100%;
                text-align: center;
                padding: 2rem;
            }
        }

        &.open {
            transform: translateX(0%);
        }
    }
}